{{ define "hero" }}
  <div class="hero-container">
    <div class="hero-image">
      <div id="hero-feed" class="d-none shadow-sm">
        <ul class="d-flex flex-column align-items-center"></ul>
        <span class="donate-btn"><img src="/img/gitcoin_logo.svg" style="width: auto; height: 30px;" /></span>
      </div>
      {{ if .Countdown.Enabled }}
        <div class="countdown fade-in-top d-none d-lg-block">
          <h1 class="countdown-headline" style="margin-bottom: 15px; font-size: 42px; font-weight: 900; letter-spacing: 2px; color: #343a40;">{{ .Countdown.Title }}</h1>
          <div class="d-flex justify-content-between">
            <div>
              <div class="d-flex align-items-center justify-content-between mr-3 mb-1">
                <h2 class="countdown-epoch" style="font-size: 28px; font-weight: 700; letter-spacing: 3px; color: #343a40; text-align: left;"></h2>
                <h2 class="countdown-slot" style="font-size: 28px; font-weight: 700; letter-spacing: 3px; color: #343a40; text-align: right;"></h2>
              </div>
              <h2 class="countdown-time" style="font-size: 28px; font-weight: 700; letter-spacing: 3px; color: #343a40;"></h2>
              <span style="color: #343a40;">{{ .Countdown.Info }}</span>
            </div>
            <i class="fas fa-hourglass-half fa-7x mt-3 rotated-icon" style="color: #565876;"></i>
          </div>
        </div>
      {{ end }}
    </div>
    <div class="hero-text">
      <div class="hero-text-background"></div>
      <h5 class="text-center">{{ .Subtitle }}</h5>
    </div>
    {{ if .Countdown.Enabled }}
      <div class="d-flex d-lg-none align-items-center justify-content-center w-100 mt-2">
        <div class="d-flex flex-column" style="position: relative; top: 0;">
          <h1 class="countdown-headline" style="font-size: 24px; font-weight: 700; letter-spacing: 2px; color: #343a40;">{{ .Countdown.Title }}</h1>
          <h2 class="countdown-time" style="font-size: 18px; font-weight: 700; letter-spacing: 3px; color: #343a40;"></h2>
        </div>
      </div>
    {{ end }}
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/luxon.min.js"></script>
  <script src="/js/herofeed.js"></script>
  {{ if .Countdown.Enabled }}
  <script>
    let c_epoch = {{$.CurrentEpoch}}, c_slot = {{$.CurrentSlot}}, t = 12

    function updateCountdown() {
      let time_diff = luxon.DateTime.fromMillis({{.Countdown.Timestamp}}).diff(luxon.DateTime.local())
      if (time_diff.milliseconds <= 0) { $('.countdown-time').html('00:00:00'); return }
      time_diff = time_diff.toObject()
      let time_left = luxon.Duration.fromObject(time_diff).toFormat('MM-dd hh:mm:ss').split(" ")
      let date = time_left[0].split('-')
      let m = 'Month', d = 'Day'
      if (parseInt(date[0]) > 1) m += 's'
      if (parseInt(date[1]) > 1) d += 's'
      if (parseInt(date[0]) <= 0) { m=""; date[0]="" }
      if (parseInt(date[1]) <= 0) { d=""; date[1]="" }

      // $('.countdown-time').html(`${date[0]} ${m} ${date[1]} ${d} ${time_left[1]}`)
      $('.countdown-time').html(`${date[0]} <span style="font-size: 18px; font-weight: 100; color: #56606a;">${m}</span> ${date[1]} <span style="font-size: 18px; font-weight: 100; color: #56606a;">${d}</span> ${time_left[1]}`)

      if (t <= 0) {
        fetch('/latestState')
        .then(res=>res.json().then((data) => {
          c_epoch = data.currentEpoch
          c_slot = data.currentSlot
          t = 12
        }))
        t = 60 // prevent sending too many requests
      }

      let epoch_left = timeToEpoch({{ .Countdown.Timestamp }}) - c_epoch
      let slots_left = timeToSlot({{ .Countdown.Timestamp }}) - c_slot
      epoch_left = epoch_left<0 ? 0 : epoch_left
      slots_left = slots_left<0 ? 0 : slots_left

      // $('.countdown-epoch').html(`${epoch_left} Epoch${epoch_left>1?'s':""} ${slots_left} Slot${slots_left>1?'s':""} left`)
      $('.countdown-epoch').html(`${epoch_left} <span style="display: block; font-size: 18px; font-weight: 100; color: #56606a;">Epoch${epoch_left>1?'s':""}</span>`)
      $('.countdown-slot').html(`${slots_left} <span style="display: block; font-size: 18px; font-weight: 100; color: #56606a;">Slot${slots_left>1?'s':""} left</span>`)
      t = t - 1
    }

    $(document).ready(() => {
      updateCountdown()
      requestAnimationFrame(() => {
        setInterval(() => {
          if (document.hasFocus()) {
            updateCountdown()
          }
        }, 1000)
      })
    })
  </script>
  {{ end }}
{{ end }}


<a class="my-1" href="https://shop.beaconcha.in"><i class="fas fa-shopping-cart mr-2"></i>Swag Shop</a>
