{{ define "hero" }}
  <div class="hero-container">
    <div class="hero-image">
      <div id="hero-feed" class="d-none shadow-sm">
        <ul class="d-flex flex-column align-items-center"></ul>
        <span class="donate-btn"><img src="/img/gitcoin_logo.svg" style="width: auto; height: 30px;" /></span>
      </div>
      {{ if .Countdown.Enabled }}
        <div class="countdown fade-in-top d-none d-lg-block">
          <h1 class="countdown-headline" style="margin-bottom: 15px; font-size: 42px; font-weight: 900; letter-spacing: 2px; color: #343a40;">{{ .Countdown.Title }}</h1>
          <div class="d-flex justify-content-between">
            <div>
              <div class="d-flex align-items-center justify-content-between mr-3 mb-1">
                <h2 class="countdown-epoch" style="font-size: 28px; font-weight: 700; letter-spacing: 3px; color: #343a40; text-align: left;"></h2>
                <h2 class="countdown-slot" style="font-size: 28px; font-weight: 700; letter-spacing: 3px; color: #343a40; text-align: right;"></h2>
              </div>
              <h2 class="countdown-time" style="font-size: 28px; font-weight: 700; letter-spacing: 3px; color: #343a40;"></h2>
              <span style="color: #343a40;">{{ .Countdown.Info }}</span>
            </div>
            <i class="fas fa-hourglass-half fa-7x mt-3 rotated-icon" style="color: #565876;"></i>
          </div>
        </div>
      {{ end }}


      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 275.5 64.7" style="enable-background:new 0 0 275.5 64.7;" xml:space="preserve">
<g>
	<path d="M114.2,38.3l18.6,25h14.1l-22.5-29.8c-1.2-1.7-1.7-2.9-1.7-4.1c0-1.2,0.8-2.4,2.3-4l21.5-24.2h-14.2l-18.3,20.7
		c-2.8,3.2-4.1,5.5-4.1,7.6C109.8,32.3,111.4,34.6,114.2,38.3 M212.2,32.4c0-18.1,12.6-32.4,31.4-32.4s31.9,13.5,31.9,32.4
		s-13.4,32.1-31.8,32.1C224,64.5,212.2,50.8,212.2,32.4L212.2,32.4z M263.3,32.3c0-12.7-7.8-22.1-19.6-22.1
		c-11.9,0-19.3,9.2-19.3,22.1s8,22.1,19.3,22.1C255.7,54.4,263.3,44.9,263.3,32.3 M178,63.3h-22V53h24.2c7,0,10.5-1.8,10.5-6.7
		c0-4.3-2.8-5.7-10.4-7.8l-7.2-2c-13.5-3.7-18-8.1-18-18.3s6.1-17,20.8-17h22v10.4h-22.2c-6.2,0-9.2,1.4-9.2,5.8
		c0,4.2,2.8,6.2,9.9,8l7.5,1.9c12.5,3.2,18.5,7.7,18.5,17.8C202.4,56.8,195.9,63.3,178,63.3L178,63.3z M69.3,64.7
		c-15.9,0-25.5-8.5-25.5-25.2V1.3h11.7v37.5c0,9,2.9,15.6,13.9,15.6s13.9-6.2,13.9-15.7V1.2h11.7v38.2
		C94.9,55.9,85.3,64.7,69.3,64.7 M11.8,1.3H0v50.2c0,8.3,3.5,11.8,10.5,11.8h22.7V53.2H16.2c-3.4,0-4.4-1-4.4-4.3V1.3L11.8,1.3z"/>
</g>
</svg>
    </div>
    <div class="hero-text">
      <div class="hero-text-background"></div>
      <h5 class="text-center">{{ .Subtitle }}</h5>
    </div>
    {{ if .Countdown.Enabled }}
      <div class="d-flex d-lg-none align-items-center justify-content-center w-100 mt-2">
        <div class="d-flex flex-column" style="position: relative; top: 0;">
          <h1 class="countdown-headline" style="font-size: 24px; font-weight: 700; letter-spacing: 2px; color: #343a40;">{{ .Countdown.Title }}</h1>
          <h2 class="countdown-time" style="font-size: 18px; font-weight: 700; letter-spacing: 3px; color: #343a40;"></h2>
        </div>
      </div>
    {{ end }}
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/luxon.min.js"></script>
  <script src="/js/herofeed.js"></script>
  {{ if .Countdown.Enabled }}
  <script>
    let c_epoch = {{$.CurrentEpoch}}, c_slot = {{$.CurrentSlot}}, t = 12

    function updateCountdown() {
      let time_diff = luxon.DateTime.fromMillis({{.Countdown.Timestamp}}).diff(luxon.DateTime.local())
      if (time_diff.milliseconds <= 0) { $('.countdown-time').html('00:00:00'); return }
      time_diff = time_diff.toObject()
      let time_left = luxon.Duration.fromObject(time_diff).toFormat('MM-dd hh:mm:ss').split(" ")
      let date = time_left[0].split('-')
      let m = 'Month', d = 'Day'
      if (parseInt(date[0]) > 1) m += 's'
      if (parseInt(date[1]) > 1) d += 's'
      if (parseInt(date[0]) <= 0) { m=""; date[0]="" }
      if (parseInt(date[1]) <= 0) { d=""; date[1]="" }

      // $('.countdown-time').html(`${date[0]} ${m} ${date[1]} ${d} ${time_left[1]}`)
      $('.countdown-time').html(`${date[0]} <span style="font-size: 18px; font-weight: 100; color: #56606a;">${m}</span> ${date[1]} <span style="font-size: 18px; font-weight: 100; color: #56606a;">${d}</span> ${time_left[1]}`)

      if (t <= 0) {
        fetch('/latestState')
        .then(res=>res.json().then((data) => {
          c_epoch = data.currentEpoch
          c_slot = data.currentSlot
          t = 12
        }))
        t = 60 // prevent sending too many requests
      }

      let epoch_left = timeToEpoch({{ .Countdown.Timestamp }}) - c_epoch
      let slots_left = timeToSlot({{ .Countdown.Timestamp }}) - c_slot
      epoch_left = epoch_left<0 ? 0 : epoch_left
      slots_left = slots_left<0 ? 0 : slots_left

      // $('.countdown-epoch').html(`${epoch_left} Epoch${epoch_left>1?'s':""} ${slots_left} Slot${slots_left>1?'s':""} left`)
      $('.countdown-epoch').html(`${epoch_left} <span style="display: block; font-size: 18px; font-weight: 100; color: #56606a;">Epoch${epoch_left>1?'s':""}</span>`)
      $('.countdown-slot').html(`${slots_left} <span style="display: block; font-size: 18px; font-weight: 100; color: #56606a;">Slot${slots_left>1?'s':""} left</span>`)
      t = t - 1
    }

    $(document).ready(() => {
      updateCountdown()
      requestAnimationFrame(() => {
        setInterval(() => {
          if (document.hasFocus()) {
            updateCountdown()
          }
        }, 1000)
      })
    })
  </script>
  {{ end }}
{{ end }}


<a class="my-1" href="https://shop.beaconcha.in"><i class="fas fa-shopping-cart mr-2"></i>Swag Shop</a>
