{{ define "hero" }}
  <script src="/js/jquery.min.js"></script>
  <script src="/js/luxon.min.js"></script>
  <script src="/js/herofeed.js"></script>
  {{ if .Countdown.Enabled }}
  <script>
    let c_epoch = {{$.CurrentEpoch}}, c_slot = {{$.CurrentSlot}}, t = 12

    function updateCountdown() {
      let time_diff = luxon.DateTime.fromMillis({{.Countdown.Timestamp}}).diff(luxon.DateTime.local())
      if (time_diff.milliseconds <= 0) { $('.countdown-time').html('00:00:00'); return }
      time_diff = time_diff.toObject()
      let time_left = luxon.Duration.fromObject(time_diff).toFormat('MM-dd hh:mm:ss').split(" ")
      let date = time_left[0].split('-')
      let m = 'Month', d = 'Day'
      if (parseInt(date[0]) > 1) m += 's'
      if (parseInt(date[1]) > 1) d += 's'
      if (parseInt(date[0]) <= 0) { m=""; date[0]="" }
      if (parseInt(date[1]) <= 0) { d=""; date[1]="" }

      // $('.countdown-time').html(`${date[0]} ${m} ${date[1]} ${d} ${time_left[1]}`)
      $('.countdown-time').html(`${date[0]} <span style="font-size: 18px; font-weight: 100; color: #56606a;">${m}</span> ${date[1]} <span style="font-size: 18px; font-weight: 100; color: #56606a;">${d}</span> ${time_left[1]}`)

      if (t <= 0) {
        fetch('/latestState')
        .then(res=>res.json().then((data) => {
          c_epoch = data.currentEpoch
          c_slot = data.currentSlot
          t = 12
        }))
        t = 60 // prevent sending too many requests
      }

      let epoch_left = timeToEpoch({{ .Countdown.Timestamp }}) - c_epoch
      let slots_left = timeToSlot({{ .Countdown.Timestamp }}) - c_slot
      epoch_left = epoch_left<0 ? 0 : epoch_left
      slots_left = slots_left<0 ? 0 : slots_left

      // $('.countdown-epoch').html(`${epoch_left} Epoch${epoch_left>1?'s':""} ${slots_left} Slot${slots_left>1?'s':""} left`)
      $('.countdown-epoch').html(`${epoch_left} <span style="display: block; font-size: 18px; font-weight: 100; color: #56606a;">Epoch${epoch_left>1?'s':""}</span>`)
      $('.countdown-slot').html(`${slots_left} <span style="display: block; font-size: 18px; font-weight: 100; color: #56606a;">Slot${slots_left>1?'s':""} left</span>`)
      t = t - 1
    }

    $(document).ready(() => {
      updateCountdown()
      requestAnimationFrame(() => {
        setInterval(() => {
          if (document.hasFocus()) {
            updateCountdown()
          }
        }, 1000)
      })
    })
  </script>
  {{ end }}
{{ end }}


<a class="my-1" href="https://shop.beaconcha.in"><i class="fas fa-shopping-cart mr-2"></i>Swag Shop</a>
