{{ define "js" }}
  <script src="/js/highcharts/highstock.min.js"></script>
  <script src="/js/highcharts/exporting.min.js"></script>
  <script src="/js/highcharts/offline-exporting.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="/js/highcharts/highcharts-vue.min.js"></script>
  <script src="/js/highcharts/highcharts-more.min.js"></script>
  <script src="/js/highcharts/highcharts-global-options.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'], // Standard vuejs template syntax conflicts with golang template syntax
        components: {
            highcharts: HighchartsVue.Chart
        },
        data: {
            // default values so the page does not error on load
            page: {
                    block_utilization: 0,
                    blocks: [{
                        number: 12963277,
                        hash: "2cab34012bd4c60bcc3854a61fba3d9687302cde270eac69cc0a92809679cb69",
                        gas_target: 14963304,
                        gas_used: 14947121,
                        mining_reward: 2710738803166022000,
                        tx_count: 259,
                        time: "2021-08-05T06:00:25Z",
                        base_fee_per_gas: 0,
                        burned_fees: 0
                    }]
                },
            updateIn: -1,
            progress: 0,
            chartOptions: {
                rangeSelector: {
                    enabled: false
                },
                navigator: {
                    enabled: false
                },
                scrollbar: {
                    enabled: false
                },
                chart: {
                    type: 'spline'
                },
                title: {
                    text: ''
                },
                subtitle: {},
                xAxis: {
                    type: 'linear',
                    labels: {},
                },
                yAxis: [{
                    title: {
                        text: 'Base fee (Gwei)'
                    },
                    labels: {
                        formatter: function () {
                            return (this.value / 1e9).toFixed(1);
                        }
                    },
                    min: 0,
                    opposite: false
                }],
                series: [{
                    name: "Base fee",
                    yAxis: 0,
                    data: []
                }],
                legend: {
                    enabled: true
                },
                tooltip: {
                    formatter: function () {
                        return this.points.reduce(function (s, point) {
                            let val = point.y;
                            if (point.series.name === "Burned") {
                                val = (val / 1e18).toFixed(1) + " <b>LYXt</b>";
                            }
                            if (point.series.name === "Base fee") {
                                val = (val / 1e9).toFixed(1) + " <b>GWei</b>";
                            }

                            return s + '<br/>' + point.series.name + ': ' +
                                val;
                        }, '<b>Block ' + this.x + '</b>');
                    },
                    shared: true
                }
            },
            chartOptionsMonetaryPolicy: {

                chart: {
                    type: 'gauge',
                    plotBackgroundColor: null,
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false,
                },
                plotOptions: {
                    gauge: {
                        // color: '#22',
                        dataLabels: {
                            color: 'var(--font-color)',
                            borderColor: null,
                            borderWidth: 0,
                            padding: 0,
                            borderRadius: 0,
                            style: {
                                fontWeight : 'lighter',
                                fontSize: '14px',
                            }
                        },
                        dial: {
                            backgroundColor: 'var(--font-color)',
                        },
                        pivot: {
                            backgroundColor: 'var(--font-color)',
                        }
                    }
                },

                title: {
                    text: 'Current LYXt Emission'
                },
                navigator: {
                    enabled: false,
                },
                pane: {
                    startAngle: -150,
                    endAngle: 150,
                    background:  [{
                        backgroundColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                                [0, 'var(--shadow-dark)'],
                                [1, 'var(--shadow-light)']
                            ]
                        },
                        borderWidth: 0,
                        outerRadius: '109%'
                    }, {
                        backgroundColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                                [0, 'var(--shadow-light)'],
                                [1, 'var(--shadow-dark)']
                            ]
                        },
                        borderWidth: 1,
                        outerRadius: '107%'
                    }, {
                        backgroundColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 0},
                            stops: [
                                [0, 'var(--bg-color)'],
                            ]
                        }
                    }, {
                        backgroundColor: '#DDD',
                        borderWidth: 0,
                        outerRadius: '105%',
                        innerRadius: '103%'
                    }]
                },

                // the value axis
                yAxis: {
                    min: -12,
                    max: 12,

                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 10,
                    minorTickPosition: 'inside',
                    minorTickColor: '#222',

                    tickPixelInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#222',
                    labels: {
                        step: 2,
                        rotation: 'auto'
                    },
                    title: {
                        text: 'LYXt/min'
                    },
                    plotBands: [{
                        from: -12,
                        to: 0,
                        color: '#55BF3B'
                    }, {
                        from: 0,
                        to: 5,
                        color: '#DDDF0D'
                    }, {
                        from: 5,
                        to: 12,
                        color: '#DF5353'
                    }]
                },

                series: [{
                    name: 'Current LYXt Emission',
                    data: [0],
                    tooltip: {
                        valueSuffix: ' LYXt/min'
                    }
                }]

            }
        },
        mounted() {
                // console.log('data: ', {{.}})
                this.page = {{.}}
        },
        filters: {
            fromNow(date) {
                return getRelativeTime(luxon.DateTime.fromISO(date));
            },
            timestampTooltip(date){
                return formatTimestampsTooltip(luxon.DateTime.fromISO(date))
            },
            toFixed(number, digits) {
                return number.toFixed(digits)
            },
            toTerra(number) {
                return (number / 1e12).toFixed(1)
            },
            toPercentage(number, digits) {
                return (number * 100).toFixed(digits)
            },
            formatETH(number, digits) {
                return (number / 1e18).toFixed(digits)
            },
            formatUSD(number, currency) {
                if(!currency) {
                        currency = "USD"
                }
                if(typeof Intl !== 'undefined') {
                        return new Intl.NumberFormat('en-US', { style:'currency', currencyDisplay: 'narrowSymbol', currency }).format(number)
                }
                return number.toFixed(2)
            },
            formatGWei(number, digits) {
                return (number / 1e9).toFixed(digits)
            }
        },
        created: function () {
            this.tick();
            setInterval(function () {
                this.tick();
            }.bind(this), 1000);
        },
        methods: {
            tick: function () {
                if (this.updateIn <= 0) {
                    $.getJSON('/burn/data', function (response) {
                        // console.log('burn data', response)
                        this.page = response;
                        this.chartOptions.series[0].data = [];
                        // this.chartOptions.series[1].data = [];
                        let runningAverage = 0
                        let n = 0
                        for (let i = this.page.blocks.length - 1; i >= 0; i = i - 1) {
                                n += 1
                                runningAverage += this.page.blocks[i].base_fee_per_gas
                                if (i % 10 === 0) {
                                        // this.chartOptions.series[0].data.push([this.page.blocks[i].number, this.page.blocks[i].base_fee_per_gas])
                                        this.chartOptions.series[0].data.push([this.page.blocks[i].number, runningAverage / n])
                                        runningAverage = 0
                                        n = 0
                                }
                            // this.chartOptions.series[1].data.push([this.page.blocks[i].number, this.page.blocks[i].burned_fees])
                        }
                        this.page.blocks = this.page.blocks.slice(0, 100);
                        let emission = Math.round(this.page.emission / 1e18 * 100) / 100;
                        // console.log('emission: ', emission)
                        this.chartOptionsMonetaryPolicy.series[0].data = [emission];

                        if (emission < -12) {
                            this.chartOptionsMonetaryPolicy.yAxis.min = emission - 2;
                            this.chartOptionsMonetaryPolicy.yAxis.plotBands[0].from = emission - 2;
                        } else if (emission > 12) {
                            this.chartOptionsMonetaryPolicy.yAxis.max = emission + 2;
                            this.chartOptionsMonetaryPolicy.yAxis.plotBands[2].to = emission + 2;
                        } else {
                            this.chartOptionsMonetaryPolicy.yAxis.min = -12;
                            this.chartOptionsMonetaryPolicy.yAxis.plotBands[0].from = -12;
                            this.chartOptionsMonetaryPolicy.yAxis.max = 12;
                            this.chartOptionsMonetaryPolicy.yAxis.plotBands[2].to = 12;
                        }
                    }.bind(this));
                    this.updateIn = 30;
                    this.progress = 0;
                } else {
                    this.updateIn--;
                    this.progress = Math.round((30 - this.updateIn) * 100 / 30)
                }
            }
        }
    })
</script>
{{ end }}
{{ define "css" }}
  <style>
    .hero-container {
      position: relative;
      min-height: 250px;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
      flex-wrap: wrap;
    }

    .hero-image {
      overflow: hidden;
      flex: 1;
      max-width: 500px;
      min-width: 320px;
      max-height: 400px;
      min-height: 200px;
    }

    .hero-image svg {
      overflow: hidden;
      width: inherit;
      height: inherit;
    }

    .hero-text {
      font-size: 2rem;
      flex: 1;
      min-width: 305px;
      max-width: 500px;
      position: relative;
    }

    .hero-text-background {
      position: absolute;
      width: 100%;
      height: 100%;
      /* bottom: -40%; */
      transform: scale(0.5) translateY(20%);
      border-radius: 65% 35% 70% 30% / 50% 50% 50% 50%;
      background-image: var(--linear-gradient);
      box-shadow: 5px 15px 30px var(--shadow-light);
      z-index: -50;
      -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      opacity: 0.6;
    }

    /* ----------------------------------------------
     * Generated by Animista on 2020-5-27 13:15:6
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info.
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation slide-bottom
     * ----------------------------------------
     */
    @-webkit-keyframes slide-bottom {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      100% {
        -webkit-transform: scale(1.1) translateY(40%);
        transform: scale(1.1) translateY(40%);
      }
    }

    @keyframes slide-bottom {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      100% {
        -webkit-transform: scale(1.1) translateY(40%);
        transform: scale(1.1) translateY(40%);
      }
    }

    @media (max-width: 1140px) {
      .hero-text-background {
        transform: scale(1) translateY(30%);
        border-radius: 50%;
        animation: none;
        opacity: 0.3;
      }
    }

    @media (max-width: 960px) {
      .hero-image {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .hero-container {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5rem 0;
      }

      .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .hero-image svg {
        opacity: 0.2;
      }

      .hero-text-background {
        transform: scale(1) translateY(10%);
        animation: none;
        opacity: 0.1;
      }

      .card .card-header {
        font-size: 0.8rem !important;
      }

      .card .card-header h5 {
        font-size: 0.9rem !important;
      }
    }

    [v-cloak] {
      visibility: hidden;
    }

    .responsive-border-right {
      border-right-color: rgb(222, 226, 230);
      border-right-style: solid;
      border-right-width: 1px;
    }

    @media (max-width: 767px) {
      .responsive-border-right-l {
        border: hidden;
      }
    }
  </style>
{{ end }}
{{ define "content" }}
  <div class="container mt-2">
    <div id="app" v-cloak>
      <div id="r-banner" info="{{ .Meta.Templates }}"></div>
      <div class="card mt-3">
        <div class="card-header">
          <div class="row">
            <div class="col-md-4 responsive-border-right responsive-border-right-l">
              <div class="d-flex flex-wrap-reverse flex-md-nowrap justify-content-between">
                <div class="p-2">
                  <div class="text-secondary mb-0">
                    <span><i class="fas fa-gas-pump mr-1"></i>Base fee</span>
                  </div>
                  <h5 class="font-weight-normal mb-0">
                    <span data-toggle="tooltip" data-placement="top" title="The current network base fee" class="mr-3">${ page.blocks[0].base_fee_per_gas | formatGWei(1) }</span> <span style="font-size: .9rem; opacity: .8; font-weight: 300;">GWei</span> <span v-if="page.base_fee_trend === 1" data-toggle="tooltip" data-placement="top" title="Base fee is increasing">⬈</span><span v-if="page.base_fee_trend === -1" data-toggle="tooltip" data-placement="top" title="Base fee is decreasing">⬊</span>
                    <span data-toggle="tooltip" data-placement="top" title="Base fee is stable" v-if="page.base_fee_trend === 0">—</span>
                  </h5>
                </div>
                <div class="text-right p-2">
                  <div class="text-secondary mb-0"><i class="fas fa-burn mr-1"></i>Total burned</div>
                  <h5 class="font-weight-normal mb-0">
                    <div>
                      <span data-toggle="tooltip" data-placement="top" title="">${ page.total_burned | formatETH(1) } <span style="font-size: .9rem; opacity: .8; font-weight: 300;">LYXt</span></span>
                    </div>
                    {{ if .Mainnet }}<div><span style="font-size: .8rem; opacity: .5">${ (page.total_burned / 1e18 * page.price_usd) | formatUSD }</span></div>{{ end }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 responsive-border-right responsive-border-right-l">
              <div class="d-flex flex-wrap-reverse flex-md-nowrap justify-content-between">
                <div class="p-2">
                  <div class="text-secondary mb-0"><i class="fas fa-fire mr-1"></i>Burn rate (1h)</div>
                  <h5 class="font-weight-normal mb-0">
                    <span data-toggle="tooltip" data-placement="top" title="">${ page.burn_rate_1_h | formatETH(2) } <span style="font-size: .9rem; opacity: .8; font-weight: 300;">LYXt/min</span></span>
                  </h5>
                  {{ if .Mainnet }}<div><span style="font-size: .8rem; opacity: .5">${ (page.burn_rate_1_h / 1e18 * page.price_usd) | formatUSD } / min</span></div>{{ end }}
                </div>
                <div class="text-right p-2">
                  <div class="text-secondary mb-0"><i class="fas fa-fire-alt mr-1"></i>Burn rate (24h)</div>
                  <h5 class="font-weight-normal mb-0">
                    <span data-toggle="tooltip" data-placement="top" title="">${ page.burn_rate_24_h | formatETH(2) } <span style="font-size: .9rem; opacity: .8; font-weight: 300;">LYXt/min</span></span>
                  </h5>
                  {{ if .Mainnet }}<div><span style="font-size: .8rem; opacity: .5">${ (page.burn_rate_24_h / 1e18 * page.price_usd) | formatUSD } / min</span></div>{{ end }}
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-wrap-reverse flex-md-nowrap justify-content-between">
                <div class="p-2">
                  <div class="text-secondary mb-0"><i class="fas fa-bullseye mr-1"></i>Gas target</div>
                  <h5 class="font-weight-normal mb-0">
                    <span data-toggle="tooltip" data-placement="top" title="">${ page.blocks[0].gas_target }</span>
                  </h5>
                </div>
                <div class="text-right p-2">
                  <div class="text-secondary mb-0"><i class="fas fa-database mr-1"></i>Block utilization</div>
                  <h5 class="font-weight-normal mb-0">
                    <span data-toggle="tooltip" data-placement="top" title="">${ page.block_utilization | toFixed(1) } %</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <highcharts height="600px" :options="chartOptions"></highcharts>
            </div>
            <div class="col-lg-4">
              <highcharts height="600px" :options="chartOptionsMonetaryPolicy"></highcharts>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-12 mt-2">
                <a class="no-highlight justify-content-center d-none d-md-flex" href=""><img class="img-fluid" src="" alt=""/></a>
                <a class="no-highlight justify-content-center d-md-none d-flex" href=""><img class="img-fluid" src="" alt=""/></a>
            </div> -->
      </div>
      <div class="card mt-2">
        <div class="card-header">
          <h3 class="card-title" style="margin: .5rem 0;">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" v-bind:style="'width: ' +progress + '%'" v-bind:aria-valuenow="progress" aria-valuemin="0" aria-valuemax="30">Update in: ${updateIn}s</div>
            </div>
          </h3>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Gas Target</th>
                  <th>Gas Used</th>
                  <th>Reward</th>
                  <th>Txs</th>
                  <th>Age</th>
                  <th>Base Fee</th>
                  <th>Burned LYXt</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="block in page.blocks">
                  <td><a v-bind:href="'/block/0x' + block.hash">${ block.number }</a></td>
                  <td>${ block.gas_target }</td>
                  <td>${ block.gas_used }</td>
                  <td><span class="badge badge-pill text-white badge-success">${ block.mining_reward | formatETH(5)} LYXt</span></td>
                  <td>${ block.tx_count }</td>
                  <td><span data-toggle="tooltip" data-placement="top" v-bind:data-original-title="block.time | timestampTooltip">${ block.time | fromNow }</span></td>
                  <td><span class="badge badge-pill text-white badge-info">${ block.base_fee_per_gas | formatGWei(2)} GWei</span></td>
                  <td><span class="badge badge-pill text-white badge-warning">${ block.burned_fees | formatETH(5)} LYXt</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
